* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(187, 140, 78);
  background-image: linear-gradient(0deg, rgb(116, 35, 35), rgb(167, 55, 55));
}
#result { 
  padding: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;
    border: 5px solid greenyellow;
    padding: 20px;
    width: 300px;
    max-width: 100%;
}
input[type=checkbox] {
	float: right;
}
 
.result-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid rgb(26, 43, 59);
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
}
.result-container .btn {
	font-size: 20px;
	position: absolute;
	right: 5px;
	height: 36px;
	width: 20%;
}
.item {
  display: grid;
  border: 2px solid rgb(116, 78, 187);
}

